.header__logo {
  width: 142px;
  height: 33px;
  padding: 0 0 41px 0;
  margin: 0 auto 0 0;
}

@media screen and (max-width:767px) {

  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding: 0 0 31.6px 27px;
  }
}
