.header__user-email {
  margin: 0 24px 0 0;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

@media screen and (max-width: 767px) {

  .header__user-email {
    font-size: 14px;
    line-height: 17px;
  }
}
