.popup__input {
  width: calc(100% - 36px*2);
  margin: 0 auto 5px;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.popup__input:not(.popup__input_type_error):focus {
  outline: 0;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 767px) {

  .popup__input {
    width: calc(100% - 22px*2);
    font-size: 14px;
    line-height: 16.94px;
  }
}
