@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');
@import url('../src/blocks/page/page.css');
@import url('../src/blocks/container/container.css');
@import url('../src/blocks/header/header.css');
@import url('../src/blocks/header/__logo/header__logo.css');
@import url('../src/blocks/content/content.css');
@import url('../src/blocks/profile/profile.css');
@import url('../src/blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('../src/blocks/profile/__avatar/profile__avatar.css');
@import url('../src/blocks/profile/__avatar-button/profile__avatar-button.css');
@import url('../src/blocks/profile/__info/profile__info.css');
@import url('../src/blocks/profile/__name/profile__name.css');
@import url('../src/blocks/profile/__about/profile__about.css');
@import url('../src/blocks/profile/__redaction/profile__redaction.css');
@import url('../src/blocks/profile/__add-button/profile__add-button.css');
@import url('../src/blocks/cards/cards.css');
@import url('../src/blocks/card/card.css');
@import url('../src/blocks/card/__photo/card__photo.css');
@import url('../src/blocks/card/__info/card__info.css');
@import url('../src/blocks/card/__title/card__title.css');
@import url('../src/blocks/card/__likes/card__likes.css');
@import url('../src/blocks/card/__likes-counter/card__likes-counter.css');
@import url('../src/blocks/card/__btn-like/card__btn-like.css');
@import url('../src/blocks/card/__btn-like/_status/card__btn-like_status_active.css');
@import url('../src/blocks/card/__trash/card__trash.css');
@import url('../src/blocks/card/__trash/_type/card__trash_type_hidden.css');
@import url('../src/blocks/footer/footer.css');
@import url('../src/blocks/footer/__copyright/footer__copyright.css');
@import url('../src/blocks/popup/popup.css');
@import url('../src/blocks/popup/_type/popup_type_add-card.css');
@import url('../src/blocks/popup/_type/popup_type_profile-edit.css');
@import url('../src/blocks/popup/_type/popup_type_picture.css');
@import url('../src/blocks/popup/_type/popup_type_delete-card.css');
@import url('../src/blocks/popup/_type/popup_type_edit-avatar.css');
@import url('../src/blocks/popup/_type/popup_type_registration.css');
@import url('../src/blocks/popup/_opened/popup_opened.css');
@import url('../src/blocks/popup/__exit/popup__exit.css');
@import url('../src/blocks/popup/__exit/_type/popup__exit_type_picture.css');
@import url('../src/blocks/popup/__container/popup__container.css');
@import url('../src/blocks/popup/__title/popup__title.css');
@import url('../src/blocks/popup/__title/_type/popup__title_type_delete.css');
@import url('../src/blocks/popup/__title/_type/popup__title_type_registration.css');
@import url('../src/blocks/popup/__input/popup__input.css');
@import url('../src/blocks/popup/__input/_type/popup__input_type_error.css');
@import url('../src/blocks/popup/__submit-btn/popup__submit-btn.css');
@import url('../src/blocks/popup/__submit-btn/_disabled/popup__submit-btn_disabled.css');
@import url('../src/blocks/popup/__figure/popup__figure.css');
@import url('../src/blocks/popup/__image/popup__image.css');
@import url('../src/blocks/popup/__caption/popup__caption.css');
@import url('../src/blocks/popup/__error/popup__error.css');
@import url('../src/blocks/sign/__container/sign__container.css');
@import url('../src/blocks/sign/__title/sign__title.css');
@import url('../src/blocks/sign/__input/sign__input.css');
@import url('../src/blocks/sign/__button-submit/sign__button-submit.css');
@import url('../src/blocks/sign/__caption/sign__caption.css');
@import url('../src/blocks/sign/__link/sign__link.css');
@import url('../src/blocks/popup/__registration-img/popup__registration-img.css');
@import url('../src/blocks/header/__user-email/header__user-email.css');
@import url('../src/blocks/header/__button/header__button.css');
@import url('../src/blocks/header/__button/_type/header__button_type_logg-out.css');
