.header {
  margin: 0 0 40px;
  padding: 45px 0 0;
  max-width: 100%;
  border-bottom: 1px solid rgba(54, 54, 54, .7);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width:767px) {

  .header {
    padding: 28px 0 0;
  }
}
