.header__button {
  margin: 0;
  text-decoration: none;
  color: white;
  height: min-content;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: .2s;
}

.header__button:not(.header__button_type_logg-out):hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {

  .header__button {
    padding: 0 27px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}
